{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coaching gerencial</title>
    <meta name="description" content="JMRivas es una firma de asesoría empresarial y de coaching">
    <meta name="keywords" content="coaching, ventas, vender, vendedor, empresa, coaching empresarial, asesoría, asesoría en ventas, dashboard, entrepreneur, emprendedor, emprendimiento">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "fonts/font-awesome/css/font-awesome.css" %}"/>
    <!--link rel="stylesheet" type="text/css"  href="css/bootstrap.css"-->
    <!--link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"-->

    <!-- Slider
    ================================================== -->
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html" >JMRivas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Inicio</a></li>
            <li><a href="#tf-about" class="page-scroll">Acerca de</a></li>
            <!--li><a href="#tf-team" class="page-scroll">Team</a></li--> <!--esto no-->
            <li><a href="#tf-services" class="page-scroll">Servicios</a></li>
            <li><a href="#tf-works" class="page-scroll">Portafolio</a></li>
            <!--li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li--> <!--esto no-->
            <li><a href="#tf-contact" class="page-scroll">Contacto</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1 style="color:#CF6766;">JMRivas <strong><span class="color"> Consultoría estratégica</span></strong></h1><!-- style="color:#30415D;"-->
                <!--h2 style="color:#CF6766;">Business <strong><span class="color">consultants</span></strong></h2-->
                <p class="lead">Profesionales en la <strong>estrategia de negocios</strong>, <strong>proyectos</strong> y <strong>consultoría</strong></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "img/logo_Micha2.png" %}"  width="70%" height="70%" style="margin:auto;" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <!--h4>Acerca de</h4-->
                            <h2>Algunas palabras <strong>acerca de la firma</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Somos un equipo de profesionales con experiencia en la administración de negocios y equipos de ventas de productos de alta calidad, que requieren un alto nivel de preparación, formación y actitud para lograr competir en mercados difíciles. Comprometidos con nuestros clientes en búsqueda de herramientas y soluciones adecuadas para lograr sus objetivos de forma ágil y eficiente.</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Misión</strong> - <em>Soluciones que impactan positivamente en los proyectos de nuestros clientes.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Visión</strong> - <em>Ser la firma de profesionales número uno en consultorías de gestión administrativa y comercial en el mercado centroamericano.</em>
                            </li>
                            <!--li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Clientes</strong> - <em>Algunos de nuestros principales clientes satisfechos gracias a nuestra experiencia.</em>
                            </li-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <!--div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div-->

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center"> <!--div id="tf-services" class="text-center"-->
        <div class="container">
            <div class="section-title center">
                <h2>Dele un vistazo a <strong>nuestros servicios</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <p><em>Contamos con la experiencia y profesionalismo para darle soporte en formación de equipos de alto rendimiento, generación de estrategias, consultoría empresarial, gestión de ventas, charlas motivacionales y de integración, así como Coaching personal y de equipos.</em></p>
            </div>
            <div class="space"></div>
            <div class="row">

                <div class="col-md-2 col-sm-6 service">
                    <i class="fa fa-calculator"></i>
                    <h4><strong>Herramientas</strong></h4>
                    <p>Para la autogestión</p>
                </div>


                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-line-chart"></i>
                    <h4><strong>Consultoría</strong></h4>
                    <p>Para la gestión administrativa y ventas.</p>
                </div>

                <div class="col-md-2 col-sm-6 service">
                    <i class="fa fa-rocket"></i>
                    <h4><strong>Liderazgo</strong></h4>
                    <p>Personal y de equipos</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bar-chart"></i>
                    <h4><strong>Dashboard</strong></h4>
                    <p>Para la gestión del conocimiento de ventas</p>
                </div>


                <div class="col-md-2 col-sm-6 service">
                    <i class="fa fa-money"></i>
                    <h4><strong>Gestión</strong></h4>
                    <p>De la negociación efectiva</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Clients Section
    ==========================================-->
    <!--div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">

                <div class="section-title center">
                    <h2>Some of <strong>our Clients</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="img/client/01.png">
                    </div>
                    <div class="item">
                        <img src="img/client/02.png">
                    </div>
                    <div class="item">
                        <img src="img/client/03.png">
                    </div>
                    <div class="item">
                        <img src="img/client/04.png">
                    </div>
                    <div class="item">
                        <img src="img/client/05.png">
                    </div>
                    <div class="item">
                        <img src="img/client/06.png">
                    </div>
                    <div class="item">
                        <img src="img/client/07.png">
                    </div>
                </div>

            </div>
        </div>
    </div-->

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Vea nuestros <strong>clientes satisfechos</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <p><em>Queremos contar con usted para que sea testimonio de nuestros clientes satisfechos, lo más valioso para nosotros será dar un excelente resultado.</em></p>
            </div>
            <div class="space"></div>

            <div class="categories">

                <ul class="cat">
                    <li class="pull-left"><h4>Filtrar por tipo:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">Todos</a></li>
                            <li><a href="#" data-filter=".web">Empresas</a></li>
                            <li><a href="#" data-filter=".photography">Educación</a></li>
                            <li><a href="#" data-filter=".app" >Individuales</a></li>
                            <li><a href="#" data-filter=".branding" >Proyectos</a></li>
                            <li><a href="#" data-filter=".servicio" >Servicio al cliente</a></li>
                            <li><a href="#" data-filter=".entidades" >Gobierno</a></li>
                            <li><a href="#" data-filter=".ventas" >Ventas</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <!--div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-globe"></i>
                                </div>
                                <img src="img/portfolio/01.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Empresa</h4>
                                    <small>Genial genial genial, es un consultor genial genial genial. Genial genial genial, es un consultor genial genial genial. Genial genial genial, es un consultor genial genial genial.</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-globe"></i>
                                </div>
                                <img src="img/portfolio/02.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-globe"></i>
                                </div>
                                <img src="img/portfolio/03.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/04.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/05.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/06.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/07.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Logo Design</h4>
                                    <small>Branding</small>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="img/portfolio/08.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div-->
        </div>
    </div>

    <!-- Testimonials Section
    ==========================================-->
    <!--div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Our clients’</strong> testimonials</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                                <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>

                            <div class="item">
                                <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                                <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>

                            <div class="item">
                                <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
                                <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Sientase libre de <strong>contactarnos</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <p><em>Nuestras primeras conversaciones no tienen costo, para determinar su necesidad real. El compromiso se adquiere cuando usted esté satisfecho del proyecto que juntos desarrollaremos para expandir su negocio, liderazgo o proyecto.</em></p>
                    </div>

                    <form id="formulario_correo">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="correo">Correo electrónico</label>
                                    <input type="email" class="form-control" id="correo" placeholder="Su correo electrónico">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Escriba su nombre">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contenido">Mensaje</label>
                            <textarea id="contenido" class="form-control" rows="3" placeholder="¿En qué podemos ayudarle?"></textarea>
                        </div>
                        <button type="submit" class="btn tf-btn btn-default">Enviar</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>TODOS LOS DERECHOS RESERVADOS. COPYRIGHT © 2017.</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/jmgonzalez74/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/lic-jose-gonz%C3%A1lez-el-negociador-8b7b4258/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

    <script src="{% static "js/owl.carousel.js" %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

  </body>
  <script type="text/javascript">

$('#formulario_correo').on('submit', function(event){
  event.preventDefault();
  enviar_correo($('#correo').val(),$('#nombre').val(),$('#contenido').val());
});
var resultado="";
function enviar_correo(email_cliente,nombre_cliente,contenido_correo) {
  $.ajax({
    url : "correo/", // La URL que llama a la vista
    type : "POST", // Metodo http para realizar el request (peticion al servidor)
    data : { correo_electronico : email_cliente, nombre: nombre_cliente, contenido: contenido_correo}, // Datos enviados con el request en formato JSON
    success : function(json) {
      $.each(json, function(key,value) {
        resultado=value;
        alert(value)
      });
    },
    error : function(xhr,errmsg,err) {
      $('#results').html("<div class='alert-box alert radius' data-alert>¡Oops! Ha ocurrido un error: "+errmsg+
                         " <a href='#' class='close'>&times;</a></div>");
      console.log(xhr.status + ": " + xhr.responseText); // Se envia el codigo del status y el texto que ha devuelto el response
    }
  }).done(function( data ) {
     if (resultado==="Gracias por tomarnos en cuenta.\n\nPronto uno de nuestros miembros se pondra en contacto usted."){
        location.reload(true);
     }
    });
};
</script>
<script type="text/javascript" src="{% static 'js/token.js' %}"></script>
</html>
